.abstract-button {
    padding: 12px 20px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;

    font-size: 18px;
    font-family: 'ProximaNovaRegular';
    font-weight: normal;
    font-style: normal;
}

.primary-button {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #ccc;
}

.primary-button:hover {
    background-color: #45a049;
}

.play-button {
    background-color: #E53935;
    color: white;
    border: 1px solid #C62828;    
}

.play-button:hover {
    background-color: #D32F2F;
}

.passive-button {
    color: black;
    background-color: #F5F5F5;
    border: 1px solid #EEEEEE;
}

.passive-button:hover {
    background-color: #E0E0E0;
}

.underlining-button {
    color: black;
    text-decoration: none;
}

.underlining-button.active {
    color: black;
    text-decoration: underline;
}

.underlining-button:hover {
    color: #424242;
    text-decoration: underline #424242;
}
