form
    h2(class='form-title')
        |#{formTitle}

    p(class='js-common-errors form-error')

    div(class='js-fields-section fields-section')
        
    div(class='js-form-submit-section form-submit-subsection')
