ul(class='header row-flex-menu')
    li(class='header-item')
        |About
    li(class='header-item')
        |Volume     

div(class='site-center')
    h1(class='logo')
        |StalinGRAPH

    div(class='site-center-sections')
        div(class='site-center-column sigleplay-section')
            img(src='/img/play_btn.png' class='play-btn')

        div(class='site-center-column js-login-register-section')

ul(class='tabbar row-flex-menu')
    li(class='tabbar-item active')
        a(href='#')
            |Vitaly Cherkov

    li(class='tabbar-item')
        a(href='#')
            |Riles
    
    li(class='tabbar-item')
        a(href='#')
            |Scoreboard
