section(class='js-history-section profile-subsection')
    h3(class='profile-subsection-title')
        |Games History

    div(class='js-history-buttons scoreboard-buttons')
    div(class='js-singleplayer-history-container table-score-container')
    div(class='js-multiplayer-history-container table-score-container')
    div(class='js-load-more-container load-more-container')
