form
    h2(class='column-title')
        |Register
    
    label(for='signup-nickname')
        |Nickname

    input(type='text' name='nickname' id='signup-nickname')

    label(for='signup-email')
        |Email

    input(type='email' name='email' id='signup-email')
    
    label(for='signup-password')
        |Password

    input(type='password' name='password' id='signup-password')

    label(for='signup-password-repeat')
        |Repeat password

    input(type='password' name='password' id='signup-password-repeat')

    div(class='form-submit-subsection')
        input(type='submit' value='Register!')
        a(href='#' class='js-change-form')
            |Login