@import url("./authSignup/authSignup.css");

.site-center-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.site-center-column {
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.play-buttons-container {
    width: 100%;
    height: 162px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch
}

.play-buttons-container > a {
    margin: 5px;
}

.play-btn {
    margin: auto;
    width: 50%;
}