form
    h2(class='column-title')
        |Login
    
    label(for='signin-email')
        |Email

    input(type='email' name='email' id='signin-email')
    
    label(for='signin-password')
        |Password

    input(type='password' name='password' id='signin-password')

    div(class='form-submit-subsection')
        input(type='submit' value='Login!')
        a(href='#' class='js-change-form')
            |Register