mixin tabMixin(tabStyle, tabModel)
    li(class=tabStyle class=tabModel.active ? 'active' : '' class=tabModel.jsClass)
        a(href='#') #{tabModel.title}

ul(class='js-tabbar tabbar row-flex-menu')
    each tab in tabs
        +tabMixin(tabStyle, tab)
