div(class='scoreboard-section-content section-content')
    div(class='js-scoreboard-buttons scoreboard-buttons')
    div(class='js-singleplayer-scoreboard-container table-score-container')
    div(class='js-multiplayer-scoreboard-container table-score-container')
