section(class='js-edit-section profile-subsection')
    h3(class='profile-subsection-title')
        |Edit profile

    div(class='js-edit-fields-list')
        div(class='js-edit-nickname')
        div(class='js-edit-email')
        div(class='js-edit-password')