div(class='profile-inner')
    div(class='profile-sidebar')
        div(class='personal-photo')


        div(class='js-personal-info personal-info')
            p(class='js-nickname-field')
            p(class='js-email-field')
            
            div(class='js-personal-statistics personal-statistics')
                div(class='personal-statistics-col')
                    p
                        |Score
                    p(class='js-score-field')
                div(class='personal-statistics-col')
                    p
                        |Games
                    p(class='js-games-field')


        div(class='js-edit-btn-section')
        div(class='js-logout-btn-section')

    div(class='js-profile-center profile-center')