div(class='profile-inner')
    div(class='profile-sidebar')
        div(class='personal-photo')

        div(class='js-edit-btn-section')

        div(class='js-personal-info personal-info')
            p(class='js-email-field')
                |vitaly@cher.kov
            
            div(class='js-personal-statistics personal-statistics')
                div(class='personal-statistics-col')
                    p
                        |Score
                    p(class='js-score-field')
                        |1587
                div(class='personal-statistics-col')
                    p
                        |Games
                    p(class='js-games-field')
                        |30

        div(class='js-logout-btn-section')

    div(class='js-profile-center profile-center')