//- Форма
form(class='edit-col')
        
    //- Поля формы
    div(class='js-fields-section edit-col')

    //- Ошибки формы
    div(class='js-common-errors edit-col-messages')

    //- Кнопки формы
    div(class='js-form-submit-section edit-col-footer')