section(class='js-edit-section profile-subsection')
    h3(class='profile-subsection-title')
        |Edit profile

    div(class='js-edit-fields-list')

        //- Группа редактируемого поля
        div(class='js-edit-nickname edit-field-group')
            div(class='js-form-item edit-container')
            div(class='js-view-item edit-container')

        //- Группа редактируемого поля
        div(class='js-edit-email edit-field-group')
            div(class='js-form-item edit-container')
            div(class='js-view-item edit-container')

        //- Группа редактируемого поля
        div(class='js-edit-password edit-field-group')
            div(class='js-form-item edit-container')
            div(class='js-view-item edit-container')
