//- Режим отображения
div(class='edit-col')
    div(class='edit-row-content')
        div(class='js-field-label edit-row-title')
            |#{label}
        div(class='js-field-value edit-row-data')
            |#{value}
