div(class='profile-inner')
    div(class='profile-sidebar')
        div(class='personal-info')
            div(class='personal-photo')
            a(href='#' class='edit-profile-link')
                |Edit profile
            
    div(class='profile-center')