.profile-inner {
    display: grid;
    grid-template-columns: 300px auto;
    grid-column-gap: 10px;
    justify-content: center;
    max-width: 1000px;
}

.profile-sidebar {
    grid-column-start: 1;
    height: 300px;
    background-color: lightcoral;
}

.profile-center {
    grid-column-start: 2;
    height: 300px;
    min-width: 300px;
    background-color: lightblue;
}