div(class='profile-inner')
    div(class='profile-sidebar')
        div(class='personal-photo')

        div(class='personal-info')
            a(href='#' class='edit-profile-link')
                |Edit profile

            p(class='personal-email')
                |vitaly@cher.kov
            
            div(class='personal-statistics')
                div(class='personal-statistics-col')
                    p
                        |Rating
                    p
                        |1587
                div(class='personal-statistics-col')
                    p
                        |Games
                    p
                        |30

        div(class='logout-section')
            a(class='logout-link')
                |Logout
            
    div(class='profile-center')